.maxWidth {
  margin: 0 auto;
  padding: 0 2rem;

  max-width: 720px;
}

div.postInfo {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  span {
    color: var(--info);
    font-size: 0.875rem;
    line-height: 0.875rem;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    svg {
      width: 20px;
      height: 20px;

      color: var(--info);
    }
  }
}

.exitPreview {
  width: 100%;
  height: 4rem;

  margin: 0 0 5rem;

  background: var(--heading);

  border: 0;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--background);
  font-size: 1.125rem;
  font-weight: 600;

  transition: all 0.2s ease-in-out;

  &:hover {
    background: darken(#f8f8f8, 5%);

    transition: all 0.2s ease-in-out;
  }
}
